@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Running Log</h1>
    
    <p class="lead">Log your daily runs and pull reports at anytime on your Weekly, Monthly or Yearly Stats.</p> 
        
       <img src="https://jennapettinato.files.wordpress.com/2013/06/outdoor-running-vs-treadmill-desktop-wallpaper.jpg" width="400" height="300" alt=""> 
    

    
</div>